# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/pkg

# testing
/coverage

# production
/build

# wasm output
/go_src/bin
/src/wasm

# misc
CRA-README.md
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

